@charset "UTF-8";

/* TABLET (>= 768px) */
@media (min-width: 768px){

  main{
    max-width: 100%;
    margin: auto;
  }

  #welcome{
    grid-column: 2 / 3;
  }

  /* FICHA */
  #ficha{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .social{
    align-items: flex-start;
    text-align: left;
  }

  /* SKILLS */
  .skill-container{
    grid-template-columns: repeat(2, 1fr);
  }

  /* PROJETOS */
  #projetos-container .projeto{
    flex-direction: row;
  }

  .projeto-info{
    flex: 1;
  }

  #projetos .foto{
    width: 40%;
  }

}

/* ========================= */
/* DESKTOP (>=1024px) */
/* ========================= */
@media (min-width: 1024px){

  main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    gap: 20px;

    grid-template-columns: 1fr 2fr;

    /* 🔥 AQUI ESTÁ O SEGREDO */
    grid-template-areas:
      "welcome welcome"
      "perfil video"
      "skills formacao"
      "projetos projetos"
      "footer footer";
  }

  /* ===== MAPEAMENTO CERTO ===== */
  #welcome{ 
     
    grid-column: 2;
  }
  #ficha{ grid-area: perfil; }
  #video{ grid-area: video; }
  #skills{ grid-area: skills; }
  #formacao{ grid-area: formacao; }
  #projetos{ grid-area: projetos; }
  footer{ grid-area: footer; }

  /* ===== WELCOME ===== */
  #welcome{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ===== PERFIL ===== */
  #ficha{
    flex-direction: column;
    gap: 25px;

  
    top: 90px;
    height: fit-content;
  }

  #ficha img.foto{
    height: 240px;
  }

  /* ===== VIDEO ===== */
  #video{
    justify-content: center;
  }

  /* ===== SKILLS ===== */
  .skill-container{
    grid-template-columns: repeat(3, 1fr);
  }

  /* ===== FORMAÇÃO ===== */
  #formacao-container{
    gap: 25px;
  }

  /* ===== PROJETOS ===== */
  #projetos-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  #projetos-container .projeto{
    flex-direction: column;
    height: 100%;
  }

  #projetos .foto{
    width: 100%;
  }

  .projeto-info{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .projeto-info button{
    margin-top: auto;
  }

  /* ===== EFEITO ===== */
  section, article{
    transition: all 0.3s ease;
  }

}