@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
    color: #333;
}



body {
    height: 100%;
    display: grid;
    grid-template: auto auto 1fr / 1fr;
}


header {
    color: white;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #6b009c;
}

nav {
    padding: 10px ;
    width: 90%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 12px;
}

nav li{
    font-size: 0.9rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #6b009c;
    transition: 0.6s ease;
    border-bottom:  #6b009c 2px solid;
}



.main-aside {
    width: 100%;
    height: calc(100vh - 102px);
    background-color: #000;

    background-image:
        radial-gradient(circle, rgba(176, 27, 234, 0.45) 2px, transparent 60px),
        radial-gradient(circle, rgba(148, 59, 184, 0.35) 3px, transparent 80px),
        radial-gradient(circle, rgba(176, 27, 234, 0.25) 2px, transparent 70px),
        radial-gradient(circle, rgba(148, 59, 184, 0.40) 4px, transparent 90px),
        radial-gradient(circle, rgba(176, 27, 234, 0.30) 3px, transparent 85px),
        radial-gradient(circle, rgba(148, 59, 184, 0.20) 2px, transparent 65px);

    background-repeat: no-repeat;

    background-position:
        10% 110%,
        30% 120%,
        50% 130%,
        70% 115%,
        85% 125%,
        95% 140%;

    animation:
        particles 30s linear infinite,
        drift 12s ease-in-out infinite alternate;
}


@keyframes drift {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(1.2px);
    }
}


@keyframes particles {
    0% {
        background-position:
            10% 110%,
            30% 120%,
            50% 130%,
            70% 115%,
            85% 125%,
            95% 140%;
    }

    100% {
        background-position:
            15% -20%,
            35% -30%,
            55% -25%,
            75% -40%,
            90% -35%,
            100% -50%;
    }
}

aside h1 {
    text-align: center;
    
}

aside h1 #dev{
   color: #6b009c;
   
   font-family: "Saira", sans-serif;
text-transform: uppercase;
}

aside p {
    margin: auto;
    width: 80%;
    text-align: center;   
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    line-height: 1.6em;
}

.main-home{

    color: white;

    display: grid;
    grid-template: auto / auto;

    
    justify-items: center;
    align-items: center;

    margin: auto;
    width: 87%;
    height: 100%;
    
}


#html{
    color: rgba(255, 166, 0, 0.76);
}

#css{
    color: rgb(0, 0, 255);
}

#python{
    color: rgb(255, 255, 0);
}

aside img {
    display: block;
    margin: auto;

    max-width: 100%;
    width: 230px;
}





