@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
    color: #333;
}



html, body {
    height: 100%;
}


header {
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: auto;
}

header h2 {
    font-family: "Saira", sans-serif;
    color: #6b009c;
   font-size: 1.8rem;
   
}

nav {
    background-color: #222;
    
    width: 92%;
    border-radius: 10px;
    padding: 10px ;
    margin: auto;

    box-shadow: 4px 4px 5px rgba(255, 253, 253, 0.082);

  background:
    repeating-linear-gradient(
      180deg,
      rgba(176, 27, 234, 0.2),
      rgba(176, 27, 234, 0.2) 10px,
      transparent 10px,
      transparent 20px
    );
  animation: move 8s linear infinite;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 12px;
}

nav li{
    font-size: 0.9rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: rgb(209, 72, 209);
    transition: 0.5s ease;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 200px;
  }
}

.main-aside {
    margin: auto;
    width: 90%;
    height: calc(100vh - 115px);
}

aside h1 {
    text-align: center;
    
}

aside h1 #dev{
   color: #6b009c;
   
   font-family: "Saira", sans-serif;
text-transform: uppercase;
}

aside p {
    margin: auto;
    width: 80%;
    text-align: center;   
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    line-height: 1.6fem;
}

.main-home{
    background-color: #111;
    box-shadow: 4px 4px 5px rgba(255, 253, 253, 0.103);
    border-radius: 10px;
    color: white;

    display: grid;
    grid-template: auto / auto;

    
    justify-items: center;
    align-items: center;

    margin: auto;
    
    height: 100%;
    
}


#html{
    color: rgba(255, 166, 0, 0.76);
}

#css{
    color: rgb(0, 0, 255);
}

#python{
    color: rgb(255, 255, 0);
}

aside img {
    display: block;
    margin: auto;

    max-width: 100%;
    width: 230px;
}

article {
    background-color: #111;
    border-radius: 10px;
    color: white;

    display: grid;
    grid-template: auto / auto;

    
    justify-items: center;
    align-items: center;

    margin: 10px auto ;
    
    width: 90%;
    height: 100vh;
}




