@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --fonte01: "Roboto", sans-serif;
    --fonte02: "Noto Sans", sans-serif;
    --fonte03: "DM Sans", sans-serif;

    /*Monocromático*/
    --cor01:#B01BEA;
    --cor02:#943BB8;
     --cor02a:#953bb8c7;
    --cor03:#734585;
    --cor04:#4B3B52;
    --cor05:#312D33;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    
    width:100%;
    height:100%;

}



.menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;

    background-color: black;
    padding-bottom: 5px;
}

.menu  h2 {
    color: white;
    font: bolder 1.2em var(--fonte03);
    text-transform: uppercase;

    padding-top: 10px;
    width:  calc(100% - 22px);
    text-align: center;
}

.menu  ul {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;

    width: 100%;
}

.menu  ul  li {
    list-style-type: none;
}

.menu  ul li a {
    color: var(--cor01);
    font: bold 1.1em var(--fonte01);
    text-decoration: none;
    text-shadow: 0px 0px 1px var(--cor01);
    border-bottom: #af1beaa2 1px solid;
    padding-bottom: 1px;
    transition:  0.2s ease;
}

.menu  ul  li  a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255,);
    border-bottom: #ffffff 1px solid;
    cursor: pointer;
    
}

main{
    color: white;
    width: 100%;
    min-height: calc(100vh - 61px);
}

/* Welcome Section */

.welcome {
    width: 100%;
    min-height: calc(100vh -  66px);

    display: grid;

    grid-template: auto auto;
    justify-content: center;
    
    place-items: center center;
    text-align: center;

    background-color: #000;
    background-image: 
    radial-gradient(circle at 15% 10%, var(--cor02a), transparent 10%),
    radial-gradient(circle at 90% 50%, var(--cor02a), transparent 15%),
    radial-gradient(circle at 15% 90%, var(--cor02a), transparent 10%);
    background-repeat: no-repeat;
    background-size: cover;
}

.saudacao {
    width: 100%;
}

.saudacao > h1 {
    font-size: 1.9em;
    color: var(--cor01);
    text-transform: uppercase;
    text-shadow: 3px 3px 10px rgba(231, 230, 231, 0.26);
    max-width: 400px;
    
    margin: auto;
}

.saudacao > h2 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
    font-size: 1.9em;
    color: #ccc;

    max-width: 100%;
    margin: auto;

}

#ifoto {
    max-width: 70%;
    margin: 20px;
}

.welcome #ifoto img {
    max-width: 100%;
    height: auto;

    
}
.p-info {
    width: 80%;
    margin: auto;
}
.p-info > p {
    color: #ccc;
    font: 600 1.6em var(--fonte03);
    text-shadow: 3px 3px 10px rgba(128, 128, 128, 0.096); 
    max-width: 400px;
}

/* On Section - description */

.on {
    width: 100%;
    height: 100vh; 

    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: space-around;

    place-items: center center;

    
    
    background-color: #000;
    background-image: 
    radial-gradient(circle at 90% 10%, var(--cor02a), transparent 10%),
    radial-gradient(circle at 15% 50%, var(--cor02a), transparent 15%),
    radial-gradient(circle at 90% 90%, var(--cor02a), transparent 10%);
    background-repeat: no-repeat;
    background-size: cover;
}




.on-card-img {
    width: 90%;

    padding: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(25px);
    border-radius: 5px;
    border: 1px solid var(--cor02); 
}

.on-card-img > img {
    width: 80%;
    max-width: 240px;
    border-radius: 10px;
    border: 3px solid var(--cor04);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    display: block;
} 

.on-card-img > h2 {
    font: 1.6em var(--fonte01);
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.on-card-img > h3 {
    font: 1.4em var(--fonte01);
    color: white;
    text-align: center;
}

.on-card-img > p {
    font: bold 1.4em var(--fonte01);
    color: rgba(86, 1, 94, 0.815);
    text-align: center;
    margin-top: 5px;
}

.skill-container {
    width: 90%;
    height: 5%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(32, 32, 32, 0.671) ,rgba(0, 0, 0, 0));
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around; 
    margin: auto;
    padding: 2px;

}
.skill-container > img {
    height: 100%;
}

/* Sobre*/

.on-txt {
    width: 90%;
    
    backdrop-filter: blur(20px);
    border-radius: 8px;
    border: 2px solid var(--cor05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;
    
}

.on-txt > h2 {
    font: 1.4em var(--fonte01);
    color: white;
    text-align: left;
    padding-left: 6px;
    margin: 5px;
}

.on-txt-p {
   background-color: #5c5b5b3f;
   border-radius: 5px;
   color: #cccccc;
   box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
   text-align: justify;
   line-height: 1em;
   padding: 5px;
   margin: 10px;
}

.on-txt-p > p {
    font: 1em var(--fonte01);
    text-indent: 10px;
    padding: 2px;
}



.more{
    background: linear-gradient(to bottom, black 50vh, var(--cor02) 100vh);
    color: white;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}


.work{
    width: 100%;
    max-width: 100%;
    height: 90vh ;
    margin: auto;
}
.work > h3{
    font-size: 1.4em;
    text-align:  left;
    width: 100%;
}

.work-container {
    margin: auto;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    border: 2px solid var(--cor05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;

    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

    max-width: 100%;
    width: 580px;
    height: 95%;
}

.work-card {

    flex: 0 0 100%; 
    height: 90%;   
    margin: 10px;

    background: #4747478c;
    border: 2px solid var(--cor04);
    border-radius: 8px;
    padding: 15px;

    max-width: 88%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
}
.work-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

.work-card > h3 {
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-bottom: 8px;
}

.work-card > iframe {
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 5px;
}

.work-card > p {
    font: bold 1em var(--fonte01);
    color: #ccc;
    text-align: justify;
    text-indent: 10px;
    margin-top: 8px;
    line-height: 1.2em;
}

.work-card >  a {
    background-color: var(--cor01);
    border-radius: 2px;
    color:white;
    padding: 2px;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.work-card > a:hover {
    background-color: var(--cor02);
    box-shadow: 0px 0px 8px var(--cor02);
    transition: 0.3s;
}

.contate {
    background: linear-gradient(to bottom, black 50vh, var(--cor02) 100vh);
    
    text-align: center;
    color: white;
    width: 100%;
    height: calc(100vh - 40px);
    
}

.contate h2 {
    font-size: 1.4em;
    padding-top: 20px;
    text-transform: uppercase;
}

.contate > a {
    text-decoration: none;
    color: inherit;
}

.contate-container {
    width: 100%; 
    max-width: 100%;
    height: calc(100% - 47px);
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.contate-container > a {
    text-decoration: none;
    color: inherit;
}

.contate-container > a:hover {
    color: var(--cor01);
    text-shadow: 0px 0px 12px var(--cor01);
}

.card {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
    flex-flow: column wrap;
}

.card {
    background: black;
    border: 2px solid var(--cor01);
    border-radius: 10px;
    padding: 5px;
    max-width: 150px;
    max-height: 240px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: auto;
    display: flex;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px var(--cor02);
}

.card > .icon > img {
    width: 85px;
    padding: 10px;
}

.card > h3 {
    font-size: 1.2em;
    
    position: relative;
}

.card > h3::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: var(--cor01);
    margin: 5px auto;
}

.card > span {
    font-weight: 600;
    font-size: 0.9em;
    color: #ccc;
}

footer{
    background-color: #000;
    border-top: 1px solid var(--cor02);
    text-align: center;
    padding: 10px;
    color: white;
    font: 1em var(--fonte01);
}



footer > p > a {
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
}



