@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --fonte01: "Roboto", sans-serif;
    --fonte02: "Noto Sans", sans-serif;
    --fonte03: "Bruno Ace SC", sans-serif;

    /*Monocromático*/
    --cor01:#A159FF;
    --cor02:#9870CC ;
    --cor03:#60007a ;
    --cor04:#5D5766 ;
    --cor05:#292133 ;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    
    width:100%;
    height:100%;
}

header{
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid #a259ff; 

    width: 100%;
    
    display: block;
}

header > h2{
    color: var(--cor01);
    display: inline-block;


    font: bolder 1em var(--fonte03);

    padding: 10px;
}


header > ul{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 20px;
  
}

header > ul > li{
    list-style-type: none;
    display: inline-block;
}

header > ul > li > a{
    color: var(--cor02);
    font: bold 1em var(--fonte01);
    text-decoration: none;
    text-shadow: 1px 1px 50px rgb(183, 0, 255);
    
    text-align: right;

    margin-right: 10px;
    padding: 10px;
}

header > ul > li > a:hover{
    color: white;

    border-bottom: 2px solid white;

    transition: 50ms;
    padding-bottom: 10px;
}

main{
    background-color: #000000;
    color: white;
}

nav{
    background-color: #000000;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    width:95%;
    height: calc(100vh - 39px);

    margin: auto;
    
    border-bottom: 3px solid var(--cor02); 

    overflow: hidden;
}

.home > #ime{
    position: absolute;
    width: 70%;
    

    border-radius: 50%;
    box-shadow: 0px 0px 21px #a259ff;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    overflow: hidden;
}

.home > #ime > img{
    background-size: cover;

    width: 100%;
    height: 100%;

    background-position: center ;
}

.home > #ime > img:hover{

    transition: 3s;
    scale: 1.8;

    background-size: contain;

    background-position: left top;
}

.home > h1{
    font-size: 1.7em;
    color: var(--cor01);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px 10px rgba(170, 162, 162, 0.192);

    width: 320px;

    position: absolute;

    left: 50%;
    top: 21%;
    transform: translate(-50%,-50%);
}

.home > h2{
    font-size: 1.7em;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);

    position: absolute;

    left: 50%;
    top: 15%;
    transform: translate(-50%,-50%);
}


.home > p{
    font: 400 1.8em var(--fonte01);
    text-align: center; 

    width: 400px;

    position: absolute;

    left: 50%;
    top: 86%;
    transform: translate(-50%,-50%);
    
    padding-bottom: 20px;
    border-bottom: 5px solid var(--cor02);
    border-radius: 12px;
}

.sobre{
    width:100%;
    height: 100vh;
    
    border-bottom: 3px solid var(--cor02); 
    font: 1em sans-serif;
}