@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
    color: #333;
}



body {
    height: 100%;
    display: grid;
    grid-template: auto auto 1fr / 1fr;
}


header {
    color: white;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #6b009c;

    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    padding: 10px ;
    width: 100%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

nav li{
    font-size: 1.2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 5px;
    color: #ae00ff;
    transition: 0.6s ease;
    
}



.main-aside {
    width: 100%;
    height: calc(100vh - 42px);
    background-color: #000;
}

main-icone{
    height: 100%;
}


aside h1 {
    text-align: center;
    
}

aside h1 #dev{
   color: #6b009c;
   
   font-family: "Saira", sans-serif;
text-transform: uppercase;
}

aside p {
    margin: auto;
    width: 80%;
    text-align: center;   
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    line-height: 1.6em;
}

.main-home{

    color: white;

    display: grid;
    grid-template: auto / auto;

    
    justify-items: center;
    align-items: center;

    margin: auto;
    width: 87%;
    height: 100%;
    
}


#html{
    color: rgba(255, 166, 0, 0.76);
}

#css{
    color: rgb(0, 0, 255);
}

#python{
    color: rgb(255, 255, 0);
}

aside img {
    display: block;
    margin: auto;

    max-width: 100%;
    width: 230px;
}

article{
    background-color: white;
    height: 100vh;
}





